Pandas
pandas kütüphanesi veri analizi için kullanılan bir kütüphanedir.

Panel Data'dan gelmektedir.

yapısal verilerle çalışmak için kullanılır.

veri manipülasyonu ve analizi için yazılmış açık kaynaklı bir Python küyüphanesidir.

ekonometrik ve finansal verilerle çalışmak için kullanılır.

2008 yılında Wes Mckinney tarafından geliştirilmiştir.

pip install pandas komutu ile pandas kütüphanesini kurabiliriz

In [1]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.0.1-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 3.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hw\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 3.5 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\hw\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hw\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.1 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

-pd.Series() ile pandas serisi oluşturabiliriz

In [2]:
import pandas as pd
import numpy as np
seri=pd.Series([1,2,3,4,5,6,7,8,9])
print(seri)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [3]:
type(seri)

pandas.core.series.Series

-.axes ile serinin başlangıç, bitiş ve adım değerlerini görebiliriz.

In [4]:
print(seri.axes)

[RangeIndex(start=0, stop=9, step=1)]

dtype ile serinin veri tipini görebiliriz

In [5]:

print(seri.dtype)

int64

.size ile serinin boyutunu görebiliriz.

.ndim ile serinin boyut sayısını görebiliriz

In [6]:
print(seri.size)
print(seri.ndim)

9
1

.values ile serinin değerlerini görebiliriz

In [7]:
print(seri.values)

[1 2 3 4 5 6 7 8 9]

.head() ile serinin ilk 5 değerini görebiliriz. eğer isterseniz .head(10) diyerek ilk 10 değeri görebilirsiniz

In [8]:
seri.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

.tail() ile serinin son 5 değerini görebiliriz. .tail(10) diyerek son 10 değeri görebilirsiniz.

In [9]:

seri.tail(3)

6    7
7    8
8    9
dtype: int64

In [10]:

seri=pd.Series([99,22,332,94,5],index=["a","b","c","d","e"])

In [12]:

print(seri["a":"c"])

a     99
b     22
c    332
dtype: int64

In [13]:
sozluk={"reg":10, "log":11, "cart":12}
seri=pd.Series(sozluk)
seri

reg     10
log     11
cart    12
dtype: int64

In [14]:
randomNumbers=np.random.randint(10,100,5)
pandas=pd.Series(randomNumbers)
print((pandas[0]))

24

In [15]:
seri=pd.Series([200,121,150,99],index=["a","b","c","d"])
print(seri)

a    200
b    121
c    150
d     99
dtype: int64

In [16]:
seri.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
seri.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
print(list(seri.items()))

[('a', 200), ('b', 121), ('c', 150), ('d', 99)]

In [19]:
"a" in seri

True

In [20]:
"w" in seri

False

In [21]:

seri[["a","b"]]

a    200
b    121
dtype: int64

In [22]:
seri["a"]=250
print(seri)

a    250
b    121
c    150
d     99
dtype: int64

Pandas DataFrame Oluşturma

pd.DataFrame()

columns parametresi ile kolon isimlerini belirleyebiliriz

index parametresi ile index isimlerini belirleyebiliriz

In [23]:
l=[1,2,3,4,5]
pd.DataFrame(l,columns=["degisken_ismi"])

   degisken_ismi
0              1
1              2
2              3
3              4
4              5

In [24]:
m=np.arange(1,10).reshape((3,3))
pd.DataFrame(m,columns=["1","2","3"])

   1  2  3
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df.head(2)

   var1  var2  var3
0     1     2     3
1     4     5     6

In [26]:

df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['var1', 'var2', 'var3'], dtype='object')]

In [27]:
df.shape

(3, 3)

In [28]:
df.ndim

2

In [29]:
df.size

9

In [30]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
df.tail(1)

   var1  var2  var3
2     7     8     9

eleman işlemleri

In [32]:
s1=np.random.randint(10, size=5)
s2=np.random.randint(10, size=5)
s3=np.random.randint(10, size=5)

In [33]:
sozluk={"var1":s1,"var2":s2,"var3":s3}
df=pd.DataFrame(sozluk)

In [34]:
df

   var1  var2  var3
0     8     4     8
1     4     9     1
2     2     7     0
3     1     8     5
4     5     0     0

In [35]:
df[0:1]

   var1  var2  var3
0     8     4     8

In [ ]:
df.index=["a","b","c","d","e"]

In [36]:
df

   var1  var2  var3
0     8     4     8
1     4     9     1
2     2     7     0
3     1     8     5
4     5     0     0

In [37]:
df[0:1]

   var1  var2  var3
0     8     4     8

In [38]:
df["c":"e"]

TypeError: cannot do slice indexing on RangeIndex with these indexers [c] of type str